$charcoal: #bbb;

.welcome-user {
  font-family: 'IM Fell English', serif;
}

.main-header {
  align-items: center;
  // border-bottom: 0.0625rem solid $charcoal;
  display: flex;
  height: 6.25rem;
  padding: 0 1.25rem;
  font-family: 'IM Fell English', serif;
  background: linear-gradient(rgba(84, 50, 17, 0.7), rgba(0, 0, 0, 0.5));
  a,
  span {
    font-size: 1.2rem;
    margin: 0 0.9375rem;
  }
}

.main-header h1, .welcome-user {
  color: #fff;
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7rem;
    height: auto;
    padding: 0.625rem;

    h1 {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 0.0625rem solid $charcoal;
      margin-bottom: 0.3125rem;
      text-align: center;
      width: 80%;
    }
  }
}
