body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h4, p {
  font-family: 'IM Fell English', serif;
}

h4 {
  text-decoration: underline;
}

p {
  font-size: 1.2rem;
}

.alert {
  margin: 30px;
}
